/* Contenedor de eventos normal */
.events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  background-color: #f5f5f5;
  height: 100%;
}

/* Estilos del Carrusel */
.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 30px;

}

.slide-track {
  background-color: rgba(0, 0, 0, 0.772); /* Gris con 70% opacidad */
  padding: 50px;
  display: flex;
  animation: scroll 50s linear infinite; /* Aquí ajustas la velocidad */
  width: calc(300px * 14); /* Ajusta el ancho total de las tarjetas */
}

.slide {
  /* width: 300px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animación para el carrusel */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 7));
  }
}

.slider::before,
.slider::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  z-index: 2;
   background: linear-gradient(to right, rgb(44, 44, 44), rgba(255, 255, 255, 0));
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}