/* Contenedor de eventos normal */
.events-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  gap: var(--gap-m);
  padding: var(--padding-l);
  background-color: var(--color-event-container);
  border: 3px solid var(--color-primary);
  box-shadow: 4px 4px var(--color-primary);
  height: auto;
  width: 80%;
  border-radius: var(--border-radius-xxxl);
}


/* Estilos del Carrusel */
.slider {
  overflow: hidden;
  position: relative;
  width: 95%;
  border-radius: var(--border-radius-xxl);
}

.slide-track {
  padding: var( --padding-xxl);
  display: flex;
  flex-wrap: nowrap; 
  animation: scroll 50s linear infinite; 
  width: calc(300px * 14);
}

.slide {
  width: var(--width-m);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*? Animación para el carrusel */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 7));
  }
}

/* Contenedor del SearchBar */
.events-search-group {
  display: flex;
  align-items: center;
  position: relative;
  max-width: var(--width-m);
  margin: 20px 0;
}

/* Campo de entrada del SearchBar */
.events-search-input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: var(--height-xs);
  padding-left: 2.5rem;
  border: 0;
  border-radius: var(--border-radius-search);
  background-color: var(--color-secondary);
  outline: none;
  color: var( --color-primary);
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px var( --color-primary);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

/* Placeholder del input */
.events-search-input::placeholder {
  color: var( --color-primary);
}

/* Hover y focus del input */
.events-search-input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0 0 25px -15px #000;
}

.events-search-input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

/* Icono de búsqueda */
.events-search-icon {
  position: absolute;
  left: 1rem;
  fill: var( --color-primary);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

/* Loader de Uiverse dentro de events-container */
.dot-spinner {
  --uib-size: 3rem;
  --uib-speed: 0.9s;
  --uib-color: #183153;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: var(--uib-size);
  width: var(--uib-size);
}