#create-event {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merenge-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--width-xl);
  max-height: var(--height-xl);
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-xxl);
  border: 3px solid black;
  box-shadow: 4px 4px black;
}

.merenge-modal__header {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.merenge-modal__body {
  padding: 1rem 1rem;
}

.merenge-modal__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin-l);
}

.merenge-modal__title {
  font-weight: 700;
  font-size: 1.25rem;
}

.merenge-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease;
}

.merenge-button--primary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 2px 2px black;
  padding: 0.75rem 1.25rem;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: var(--border-radius-l);
}

.merenge-button--primary:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.merenge-input {
  display: flex;
  flex-direction: column;
}

.merenge-input + .merenge-input {
  margin-top: 1.75rem;
}

/* titulos inputs */
.merenge-input__label {
  font-weight: 700;
  font-size: 0.875rem;
}

.merenge-input__field {
  display: block;
  margin-top: 0.5rem;
  border: 1px solid black;
  box-shadow: 2px 2px black;
  border-radius: var(--border-radius-l);
  padding: 0.75rem 0.75rem;
  transition: 0.15s ease;
  background-color: var(--color-secondary);
}

.merenge-input__field:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px #0000008a, 0 0 0 2px rgb(0, 0, 0);
}

/* Mensajes */
.merenge-messages {
  margin-top: var(--margin-m);
  text-align: center;
}

/* ! WEB RESPONSIVE */
@media (width < 450px) {
  #create-event {
    height: var(--height-xxl);
    padding: var(--padding-l);
  }
}