#home {
  padding: var(--padding-l);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--margin-hero-gap);
}

#home > p {
  margin: var(--margin-xl);
  font-weight: bold;
  color: var(--color-tertiary);
  text-shadow: 2px 2px 0px rgb(0, 0, 0);
  font-size: var(--font-size-xl);
}

.uiverse-create-event-button {
  font-size: var(--font-size-l);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button-radius);
  background: var(--color-primary);
  padding: 0;
  outline: none;
  margin: var(--margin-xl);
}

.uiverse-button-top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--color-primary);
  border-radius: var(--button-radius);
  padding: 0.75em 1.5em;
  background: var(--color-secondary);
  color: var(--color-primary);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.uiverse-create-event-button:hover .uiverse-button-top {
  /* Efecto hover */
  transform: translateY(-0.33em);
}

.uiverse-create-event-button:active .uiverse-button-top {
  /* Efecto active */
  transform: translateY(0);
}