#home {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

#home > p {
  margin: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 0px rgb(0, 0, 0);
  font-size: 18px;
}

.uiverse-create-event-button {
  /* Variables */
  --button-radius: 0.75em;
  --button-color: #e8e8e8;
  --button-outline-color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button-radius);
  background: var(--button-outline-color);
  padding: 0;
  outline: none;
  margin: 30px;
}

.uiverse-button-top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button-outline-color);
  border-radius: var(--button-radius);
  padding: 0.75em 1.5em;
  background: var(--button-color);
  color: var(--button-outline-color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.uiverse-create-event-button:hover .uiverse-button-top {
  /* Efecto hover */
  transform: translateY(-0.33em);
}

.uiverse-create-event-button:active .uiverse-button-top {
  /* Efecto active */
  transform: translateY(0);
}