header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #e8e8e8c9;
  width: 98%;
  height: 70px;
  margin: 10px;
  border-radius: 15px;
  border: 3px solid black;
  box-shadow: 4px 4px black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: inline-block; /* Necesario para que transform funcione correctamente */
  transition: transform 0.3s ease, color 0.3s ease; /* Transición suave para el zoom y el color */
}

nav ul li a:hover {
  transform: scale(1.1); /* Aplica un zoom del 10% */
  color: #ffbb00; /* Cambia el color si lo deseas */
}

.welcome-text {
  font-size: 20px;
  color: black;
  margin-right: 20px;
  font-weight: bold;
  cursor: default;
}

.route-icon {
  width: 20px; /* Tamaño del ícono */
  height: 20px;
  margin-right: 5px; /* Espacio entre el ícono y el texto */
  vertical-align: middle; /* Alinear el ícono con el texto */
  display: none; /* Oculta el ícono */
}

/* ! WEB RESPONSIVE */
@media (width < 450px) {
  .welcome-text {
    text-align: center;
    font-size: 1rem;
  }
  header {
    width: 95%;
  }
  nav ul li a span {
    display: none; /* Oculta el texto */
  }
  .route-icon {
    display: inline-block; /* Muestra el ícono */
  }

  nav ul {
    gap: 20px;
  }
}