header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-header);
  width: 98%;
  height: var(--height-s);
  margin: var(--margin-s);
  border-radius: var(--border-radius-l);
  border: 3px solid black;
  box-shadow: 4px 4px black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
}

nav ul li a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
  display: inline-block; 
  transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  transform: scale(1.1); /* Aplica un zoom del 10% */
  color: var(--color-text-hover); 
}

.welcome-text {
  font-size: 20px;
  color: var(--color-primary);
  margin-right: 20px;
  font-weight: bold;
  cursor: default;
}

.route-icon {
  width: var(--icon-size); 
  height: var(--icon-size);
  margin-right: var(--margin-xs);
  vertical-align: middle; /* Alinear el ícono con el texto */
  display: none; /* Oculta el ícono */
}

/* ! WEB RESPONSIVE */
@media (width < 850px) {
  .welcome-text {
    text-align: center;
    font-size: 1rem;
  }
  header {
    width: 95%;
  }
  nav ul li a span {
    display: none; /* Oculta el texto */
  }
  .route-icon {
    display: inline-block; /* Muestra el ícono */
  }

  nav ul {
    gap: var(--gap-m);
  }
}