.event-card {
  width: var(--width-m);
  height: var(--height-l);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  align-items: center;
  border: 4px solid rgb(0, 0, 0);
  border-radius: var(--border-radius-xxl);
  padding: var(--padding-s);
  margin: var(--margin-s);
  background-color: var(--color-tertiary);
  box-shadow: 0 2px 5px var(--color-shadow);
  transition: transform 0.3s ease-in-out;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card-img {
  width: var(--width-xs);
  height: var(--height-m);
  object-fit: cover;
  border-radius: var(--border-radius-s);
}

.event-card-title {
  font-size: var(--font-size-xxl);
  text-align: center;
}

.event-card-location {
  font-size: var(--font-size-m);
  text-align: center;
}

.event-card-date {
  font-size: var(--font-size-m);
  text-align: center;
}

.event-card.clickable {
  cursor: pointer;
}

/* ! WEB RESPONSIVE */
@media (width < 430px) {
  .event-card-home {
    height: auto;
  }
}