#loginRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: var(--gap-xll);
}

.back-button {
  font-size: var(--font-size-l);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button-radius);
  background: var(--color-primary);
}

.back-button .back-button-span {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--color-primary);
  border-radius: var(--button-radius);
  padding: 0.75em 1.5em;
  background: var(--color-secondary);
  color: var(--color-primary);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.back-button:hover .back-button-span {
  /* Levanta el botón al hacer hover */
  transform: translateY(-0.33em);
}

.back-button:active .back-button-span {
  /* Baja el botón al hacer clic */
  transform: translateY(0);
}