/* Contenedor principal adaptado */
.uiverse-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background: #e3e3e3;
  border-radius: 30px;
  width: 350px;
  box-shadow: 4px 4px black;
  border: 3px solid black;
}

.uiverse-title {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
}

/* InputBox */
.uiverse-inputBox {
  position: relative;
  width: 250px;
}

.uiverse-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 8px;
  transition: 0.1s;
}

.uiverse-placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.5s;
}

.uiverse-input:valid ~ .uiverse-placeholder,
.uiverse-input:focus ~ .uiverse-placeholder {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  color: #fff;
  letter-spacing: 0.2em;
  border-radius: 8px;
}

.uiverse-input:valid,
.uiverse-input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

/* Botón de enviar */
.uiverse-submit {
  width: 200px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  transition: 0.5s;
}

.uiverse-submit:hover {
  background-color: #000;
  color: #fff;
}

/* Texto de redirección */
.uiverse-signin {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.uiverse-signin .uiverse-link {
  color: royalblue;
  cursor: pointer;
  font-weight: normal; /* Esto asegura que el texto no sea negrita */
}

.uiverse-signin .uiverse-link:hover {
  text-decoration: underline;
}