.error-message, .success-message {
  font-size: 0.8em;
  margin-top: 5px;
  display: none;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.form-group {
  margin-bottom: 15px;
}