/* Contenedor principal adaptado */
.uiverse-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-s);
  padding: var(--padding-l);
  background: var(--login-background);
  border-radius: var(--border-radius-xxl);
  width: var(--width-l);
  box-shadow: 4px 4px black;
  border: 3px solid black;
}

.uiverse-title {
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: var(--margin-s);
}

/* InputBox */
.uiverse-inputBox {
  position: relative;
  width: var(--width-s);
}

.uiverse-input {
  width: 100%;
  padding: var(--padding-s);
  border: none;
  outline: none;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 8px;
  transition: 0.1s;
}

.uiverse-placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  pointer-events: none;
  font-size: var(--font-size-s);
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.5s;
}

.uiverse-input:valid ~ .uiverse-placeholder,
.uiverse-input:focus ~ .uiverse-placeholder {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: var(--color-primary);
  color: var(--color-tertiary);
  letter-spacing: 0.2em;
  border-radius: var(--border-radius-s);
}

.uiverse-input:valid,
.uiverse-input:focus {
  border: 2px solid #000;
  border-radius: var(--border-radius-s);
}

/* Botón de enviar */
.uiverse-submit {
  width: var(--width-xs);
  padding: var(--padding-s);
  border: 2px solid #000;
  border-radius: var(--border-radius-l);
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  letter-spacing: 2px;
  transition: 0.5s;
}

.uiverse-submit:hover {
  background-color: var(--coloçr-primary);
  color: var(--color-tertiary);
}

/* Texto de redirección */
.uiverse-signin {
  text-align: center;
  font-size: var(--font-size-ss);
  margin-top: var(--margin-s);
}

.uiverse-signin .uiverse-link {
  color: var(--color-link);
  cursor: pointer;
  font-weight: normal; /* Esto asegura que el texto no sea negrita */
}

.uiverse-signin .uiverse-link:hover {
  text-decoration: underline;
}