.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.allDetails-eventPg {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.mainDetails-eventPg {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  box-shadow: 4px 4px black;
  border-radius: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #e8e8e8e6;
}

.eventPg-organizer {
  margin-bottom: 30px;
  font-size: 15px;
}

.eventPg-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.eventPg-img {
  width: 60%;
  border-radius: 20px;
  border: 3px solid black;
}

.eventPg-description {
  width: 60%;
  font-size: 16px;
  margin-top: 30px;
}

.secondDetails-eventPg{
  background-color: #e8e8e8e6;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border: 3px solid black;
  box-shadow: 4px 4px black;
  border-radius: 20px;
  padding: 30px;
}

.eventPg-date {
  font-size: 15px;
}

.eventPg-location {
  font-size: 15px;
}

.attendees-count {
  font-size: 20px;
}




.btn-subscribe {
  background-color: #4feb74; /* Verde */
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 4px 4px black;
  cursor: pointer;
}

.btn-unsubscribe {
  background-color: #f65c6b; /* Rojo */
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border: 3px solid black;
  box-shadow: 4px 4px black;
  border-radius: 10px;
  cursor: pointer;
}

.btn-subscribe:hover,
.btn-unsubscribe:hover {
  opacity: 0.9;
}

.message-container {
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  display: none; /* Oculto por defecto */
}

.success-message {
  background-color: #d4edda;
  color: #155724;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
}