.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-l);
  padding: var(--padding-l);
}

.allDetails-eventPg {
  display: flex;
  gap: var(--gap-xxl);
  align-items: center;
  justify-content: center;
}

.mainDetails-eventPg {
  width: var(--width-xxl);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  box-shadow: 4px 4px black;
  border-radius: var(--border-radius-xxxl);
  padding-top: var(--padding-xl);
  padding-bottom: var(--padding-xll);
  background-color:  var(--color-secondary);
}

.eventPg-organizer {
  margin-bottom: var(--margin-xl);
  font-size: var(--font-size-m);
}

.eventPg-title {
  font-size: var(--font-size-h1);
  margin-bottom: var(--margin-s);
}

.eventPg-img {
  width: 60%;
  border-radius: var(--border-radius-xl);
  border: 3px solid black;
}

.eventPg-description {
  width: 60%;
  font-size: var(--font-size-l);
  margin-top: var(--margin-xl);
}

.secondDetails-eventPg{
  background-color: var(--color-secondary);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  border: 3px solid black;
  box-shadow: 4px 4px black;
  border-radius: var(--border-radius-xl);
  padding: var(--padding-xl);
}

.eventPg-date {
  font-size: 15px;
}

.eventPg-location {
  font-size: var(--font-size-m);
}

.attendees-count {
  font-size: var(--font-size-xxl);
}

.btn-subscribe {
  background-color: var(--color-success);
  color: var(--color-tertiary);
  padding: 10px 20px;
  font-size: var(--font-size-xl);
  border: none;
  border-radius: var(--border-radius-m);
  border: 3px solid black;
  box-shadow: 4px 4px black;
  cursor: pointer;
}

.btn-unsubscribe, .btn-delete-event {
  background-color: var(--color-error);
  color: var(--color-tertiary);
  padding: 10px 20px;
  font-size: var(--font-size-xl);
  border: none;
  border: 3px solid black;
  box-shadow: 4px 4px black;
  border-radius: var(--border-radius-m);
  cursor: pointer;
}

.btn-subscribe:hover,
.btn-unsubscribe:hover,
.btn-delete-event:hover {
  opacity: 0.9;
}

/* ! WEB RESPONSIVE */
@media (width < 1258px) {
  .eventPg-date {
    text-align: center;
  }
  .eventPg-location {
    text-align: center;
  }
}
@media (width < 1089px) {
  .allDetails-eventPg {
    flex-direction: column;
    margin-bottom: var(--margin-l);
  }
  .secondDetails-eventPg {
    width: 80%;
  }
}
@media (width < 888px) {
  .mainDetails-eventPg {
    width: auto;
  }
  .eventPg-title {
    text-align: center;
  }
}